body{
    background-color: #202529;
}
html,body,div,h1,h2,h3,h4,h5,h6,ul,li,input,button,textarea,img{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: #333;
}
.flex{
    display: flex;
}